#all-topics-container {
    margin: 100px 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    #all-topics-container {
        margin: 50px 0 100px 0;
    }
}