:root {
  /*
  opt 1
  --primary: #EF9C66;
  --secondary: #78ABA8;
  --third: #C8CFA0;
  --fourth: #C395E4;
  --dark: #885737;
  --light: #F3F3F3; */

  /* opt 2
  --primary: #244855;
  --secondary: #e64833;
  --third: #874f41;
  --fourth: #90aead;
  --dark: #885737;
  --light: #ffeed6; */

  --primary: #0b0c10;
  --secondary: #1f2833;
  --third: #c5c6c7;
  --fourth: #66fcf1;
  --fifth: #45a29e;
}

* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--third);
}

body {
  background: var(--primary);
  font-family: montserrat, sans-serif;
  min-height: 100vh;
}

.btn {
  /* background: radial-gradient(var(--fourth), var(--fifth)); */
  background: var(--fourth);
  font-size: 1rem;
  color: var(--secondary);
  font-weight: bold;
  border: none;
  border-radius: 3ch;
  width: 18ch;
  height: 8ch;
}

.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--fourth);
}

h1 {
  margin: 10px;
  font-size: 4rem;
  color: var(--fourth);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--fifth);
  font-weight: bold;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  margin: 10px;
}

@media (max-width: 800px) {
  .btn {
    font-size: 0.8rem;
  }

 h1{
  font-size: 2rem;
 } 

 h2 {
  font-size: 1.5rem;
}
}